@font-face {
	font-family: myFont;
	src: url(Pacifico-Regular.ttf);
}

.App {
	text-align: center;
	height: 100vh;

	background-image: url(pink-background.jpg);
	background-size: cover;
	font-family: myFont;
}
