.App {
	text-align: center;
	height: 100vh;

	background-image: url(pink-background.jpg);
	background-size: cover;
	/* background-repeat: repeat-y; */
}

.header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	position: sticky;
	top: 0;
	width: 500px;
}

.header.click {
	background-color: white;
}
